# OS X
*.env
.DS_Store*
Icon?
._*

# Windows
*.env
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz
*.env


# Coveralls
coverage

# Benchmarking
benchmarks/graphs