extends layout

block content
  h1= title

  form(id='AccountForm', action="/resources/accounts", method="POST")
    div.form-group
        label.accountAttr(for='accountname') Account Name
        input#accountname(type='text', name='accountname')
    div.form-group
        label.accountAttr(for='id') Account id
        input#size(type='text', name='id')
    div.form-group
        label.accountAttr(for='balance') Account balance
        input#balance(type='number', name='balance')
    input(type="submit")

  script.
    document.forms['AccountForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
