extends layout

block content
  h1= title

  - let accountid = toShow._id
  - let accountname = toShow.name
  - let accountbalance = toShow.balance
  - let account_number = toShow.id
  

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{accountid}
  - let actionid = "/resources/accounts/" + accountid
  form(id='accountForm', action= actionid, method="PUT")
    div.form-group
        label.accountAttr(for='accountname') Account type
        input#accountname(type='text', name='accountname', value= accountname )
    div.form-group
        label.accountAttr(for='id') Account id
        input#id(type='text', name='id', value= account_number )
    div.form-group
        label.accountAttr(for='balance') Account balance
        input#balance(type='number', name='balance', value= accountbalance )
    input(type="submit")

  script.
    document.forms['AccountForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });
