extends layout

block content
  h1= title

  - let accountname = toShow.name
  - let accountbalance = toShow.balance
  - let bank_account = toShow.id
  div
    div.row
      div(class='accountAttr mr-3') account Name is:
      div #{accountname}
    div.row
      div(class='accountAttr mr-3') account balance is:
      div #{accountbalance}
    div.row
      div(class='accountAttr mr-3') account accountNo is:
      div #{bank_account}
